BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
TabWidth: 8
UseTab: Never
NamespaceIndentation: All
ColumnLimit: 140
PointerAlignment: Left
DerivePointerAlignment: false
DeriveLineEnding: false
UseCRLF: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
#AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
#ContinuationIndentWidth: 0
AlignAfterOpenBracket: DontAlign